/Continuous-Integration_Weinb_5BHIT.aux
/Continuous-Integration_Weinb_5BHIT.lof
/Continuous-Integration_Weinb_5BHIT.log
/Continuous-Integration_Weinb_5BHIT.lol
/Continuous-Integration_Weinb_5BHIT.out
/Continuous-Integration_Weinb_5BHIT.synctex.gz
/Continuous-Integration_Weinb_5BHIT.toc
